setuptools
wheel
scipy==1.4.1
tox
keyring
imageio==2.8.0
open3d
tqdm==4.46.0
trimesh==3.9.1
astroid==2.4.2
atomicwrites==1.4.0
attrs==20.2.0
colorama==0.4.3
colorlog==4.1.0
cycler==0.10.0
doxypypy==0.8.8.6
enum34==1.1.10
importlib-metadata==2.0.0
lazy-object-proxy==1.4.3
matplotlib==2.1.1
mccabe==0.6.1
Nuitka==0.6.5
numpy==1.16.4
packaging==20.4
Pillow==6.2.1
pluggy==0.13.1
plyfile==0.7.1
py==1.9.0
PyGLM==0.4.5b1
PyOpenGL==3.1.0
pyparsing==2.4.7
pytest==5.0.1
python-dateutil==2.8.1
pytz==2020.1
pyueye==4.90.0.0
six==1.15.0
toml==0.10.1
transforms3d==0.3.1
typed-ast==1.4.1
vtk
wcwidth==0.2.5
wrapt==1.12.1
zipp
pylint==2.6.0
pylint-runner==0.6.0
pandas
more-itertools==8.5.0
scikit-image
numpy
numpy-quaternion
artifacts-keyring
pyglut==1.0.0
openmesh==1.1.2
typeguard
isort
